# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea/workspace.xml
/.idea/dataSources.local.xml
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_Principal.pMaarQ/schema/dbo.sYMBAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7.cYpuAA/schema/dbo.sYMBAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7_PRODUCCION.-Kye_Q/schema/dbo.sYMBAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7_PRODUCCION_ACTUAL.teYdFQ/schema/dbo.sYMBAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_DEFINICION.zc4Icw/schema/dbo.sYMBAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_EMG910926HN6.dTCMMQ/schema/dbo.sYMBAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_EMG910926HN6_VERSION_ANTERIOR.6aBWDg/schema/dbo.sYMBAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_Principal.pMaarQ/schema/dbo.sYMBAA.zip
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7.cYpuAA/schema/dbo.sYMBAA.zip
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7_PRODUCCION.-Kye_Q/schema/dbo.sYMBAA.zip
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7_PRODUCCION_ACTUAL.teYdFQ/schema/dbo.sYMBAA.zip
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_DEFINICION.zc4Icw/schema/dbo.sYMBAA.zip
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_EMG910926HN6.dTCMMQ/schema/dbo.sYMBAA.zip
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_EMG910926HN6_VERSION_ANTERIOR.6aBWDg/schema/dbo.sYMBAA.zip
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe.xml
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_Principal.pMaarQ.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_ADI880815DA7.vbQMFg.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7.cYpuAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7_PRODUCCION.-Kye_Q.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7_PRODUCCION_ACTUAL.teYdFQ.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_DEFINICION.zc4Icw.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_EMG910926HN6.dTCMMQ.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_EMG910926HN6_VERSION_ANTERIOR.6aBWDg.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_Principal.pMaarQ/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_ADI880815DA7.vbQMFg/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7.cYpuAA/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7_PRODUCCION.-Kye_Q/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7_PRODUCCION_ACTUAL.teYdFQ/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_DEFINICION.zc4Icw/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_EMG910926HN6.dTCMMQ/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_EMG910926HN6_VERSION_ANTERIOR.6aBWDg/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_Principal.pMaarQ/schema/sys.zb4BAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_ADI880815DA7.vbQMFg/schema/sys.zb4BAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7.cYpuAA/schema/sys.zb4BAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7_PRODUCCION.-Kye_Q/schema/sys.zb4BAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_ADI880815DA7_PRODUCCION_ACTUAL.teYdFQ/schema/sys.zb4BAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_DEFINICION.zc4Icw/schema/sys.zb4BAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_EMG910926HN6.dTCMMQ/schema/sys.zb4BAA.meta
/.idea/dataSources/f5746bf4-8842-4f3d-889c-20fece67adfe/storage_v2/_src_/database/GMTERP_WEB_PQ_EMG910926HN6_VERSION_ANTERIOR.6aBWDg/schema/sys.zb4BAA.meta
