.buttonStyle {
    background-color: #F9A03E;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #F9A03E;
    font-family: calibri;
}

h2 {
    font: normal normal normal 21px/21px Calibri;
    color: #707070;
    letter-spacing: 0.21px;
    padding: 5px;
}

.imagen-de-catalogos {
    height: 100% !important;
    align-content: center !important;
    padding: 10px !important;
    width: 100% !important;
    fill: #F9A03E !important;
    stroke: #F9A03E !important;
    stroke-width: 0% !important;
}

.imagen-de-catalogos:hover {
    height: 100% !important;
    align-content: center !important;
    padding: 10px !important;
    width: 100% !important;
    fill: #F9A03E !important;
    stroke: #F9A03E !important;
    stroke-width: 0% !important;
}



.boton-de-catalogos {
    height: 72px;
    width: 100%;
    margin: 1%;
    display: inline-block;
    color: #F9A03E;
    font-size: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000004C;
    border-radius: 10px;
    opacity: 1;
    border-width: 0px;
}

.boton-de-catalogos:hover {
    background: #F9A03E 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000004C;
    border-radius: 10px;
    opacity: 1;
    border-width: 0px;
}

.division-de-botones {
    width: 10%;
}

.divider {
    width: 5px;
    display: inline-block;
}