h2 {
    font: normal normal normal 21px/21px Calibri;
    color: #707070;
    letter-spacing: 0.21px;
    padding: 5px;
}

.imagen-de-catalogos {
    height: 90% !important;
    align-content: center !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
    vertical-align: middle;
    padding: 3px !important;
    width: 70% !important;
}

.boton-de-catalogos {
    height: 72px;
    width: 72px;
    margin: 0%;
    display: inline-block;
    color: #F9A03E;
    font-size: 20px;
    background: #FFFFFF 0% 0% no-repeat;
    box-shadow: 0px 3px 6px #0000004C;
    border-radius: 10px;
    opacity: 1;
    border-width: 0px;
}

.boton-de-catalogos:hover {
    background: #F9A03E 0% 0% no-repeat;
    box-shadow: 0px 3px 6px #0000004C;
    color: #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    border-width: 0px;
}

.caja-boton {
  margin: 15px;
  width: 72px;
  align-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.divider {
    width: 5px;
    display: inline-block;
}

.color-mapeo {
  color: #F9A03E !important;
}

.color-mapeo:hover{
  color: #707070 !important;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 40px;
}

.left {
  left: 0;
  width: 70%;
  background-color: #FFFFFF;
}

.right {
  right: 0;
  width: 30%;
  background-color: #717171;
}

.centered {
  position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-top: -9px;
}

.circle-icon {
  background: #F9A03E;
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  padding: 5px;
}

.social-media{
  list-style-type: none;
  position: relative;
  float: left;
  padding-top: 40px;
  left: 40%;
}
.social-media-item{
  position: relative;
  left: -50%;
  float: left;
  padding-left: 10px;
}