body {
  margin: 0;
  font: normal normal bold 16px/14px Calibri;
    font-size: 12px !important;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
}
html {
    position: relative;
    height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.time-line > .time-label > span {
  background-color: #f9a03e !important;
}
.time-line-ctnr .time-line:before {
  background-color: #f9a03e !important;
}
.time-line-ctnr .time-line > li > .fa {
  border: 2px solid #f9a03e !important;
}

.MuiStepIcon-text {
  font-size: 16px !important;
}



